<section class="section section--pb-0">
  <div class="container">
    <div class="section-content">
      <div class="section-head">
        <div class="page-head">
          <div class="breadcrumbs">
            <div class="breadcrumbs-content">
              <a href="" class="breadcrumbs-item">
                <span class="breadcrumbs-item-text">Home</span>
              </a>
              <a href="" class="breadcrumbs-item breadcrumbs-item--active">
                <span class="breadcrumbs-item-text">About Us</span>
              </a>
            </div>
          </div>
          <div class="page-head-info">
            <h2 class="page-title">About Zahra Ebrahim</h2>
            <div class="page-head-text">
              <p>
                Where every design is a labour of love and each piece is a collaboration between the designer,
                craftsmen, and patron.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="section-body">
        <div class="spotlight-hero">
          <div class="spotlight-hero-media spotlight-hero-media--video">
            <img
              class="spotlight-hero-media-img"
              src="{{ 'u-about-us-hero-1.jpg' | asset_url }}"
              alt="About Us"
              width=""
              height=""
            >
            <a href="" class="spotlight-hero-media-action">
              <svg class="spotlight-hero-media-action-icon">
                <use href="{{ 'i/icons.svg' | asset_url }}#symbol-play"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="section-content">
      <div class="section-body">
        <div class="subsection-section">
          <div class="subsection-section-content">
            <div class="subsection-section-head">
              <h3 class="subsection-section-title">What We Believe</h3>
              <div class="subsection-section-description">
                <p>
                  Good design is ethical design. Ethical to our consumers, our material, and our craftsmen. We value
                  empathy for the end user through a focus on functionality, care, and attention to detail. We
                  prioritise sourcing ethically harvested wood, leveraging alternative materials, and minimizing waste.
                  We are also deeply committed to a safe, dignified, and creative workplace for our kaarigars.
                </p>
                <p>
                  The luxury we promise is rooted in our design philosophy. Interacting with furniture is intimate and
                  tactile, which is why we prioritize how people connect with and experience spaces and objects. For us,
                  good design is about creating environments where individuals can express themselves authentically.
                </p>
              </div>
            </div>
            <div class="subsection-section-body">
              <div class="about-us-gallery">
                <div class="about-us-gallery-item">
                  <div clas="about-us-gallery-item-media">
                    <img
                      class="about-us-gallery-item-img"
                      src="{{ 'u-about-us-gallery-1.jpg' | asset_url }}"
                      alt="About us Gallery 1"
                      width=""
                      height=""
                    >
                  </div>
                  <div class="about-us-gallery-item-info">
                    <h4 class="about-us-gallery-title">Rest Deeply</h4>
                  </div>
                </div>
                <div class="about-us-gallery-item">
                  <div clas="about-us-gallery-item-media">
                    <img
                      class="about-us-gallery-item-img"
                      src="{{ 'u-about-us-gallery-2.jpg' | asset_url }}"
                      alt="About us Gallery 2"
                      width=""
                      height=""
                    >
                  </div>
                  <div class="about-us-gallery-item-info">
                    <h4 class="about-us-gallery-title">Gift Thoughtfully</h4>
                  </div>
                </div>
                <div class="about-us-gallery-item">
                  <div clas="about-us-gallery-item-media">
                    <img
                      class="about-us-gallery-item-img"
                      src="{{ 'u-about-us-gallery-3.jpg' | asset_url }}"
                      alt="About us Gallery 3"
                      width=""
                      height=""
                    >
                  </div>
                  <div class="about-us-gallery-item-info">
                    <h4 class="about-us-gallery-title">Host Joyously</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section--pbs-0">
  <div class="container">
    <div class="section-content">
      <div class="section-body">
        <div class="about-us-highlights">
          <div class="about-us-highlight">
            <div class="about-us-highlight-media">
              <img
                class="about-us-highlight-media-img"
                src="{{ 'u-about-us-highlights-1.jpg' | asset_url }}"
                alt="About us Highlight 1"
                width=""
                height=""
              >
            </div>
            <div class="about-us-highlight-info">
              <div class="about-us-highlight-info-head">
                <h4 class="about-us-highlight-title">Our Team</h4>
              </div>
              <div class="about-us-highlight-text">
                <p>
                  In 2007 our journey began in Zahra's garage with a single carpenter. From at-home exhibitions to our
                  first rented workshop in Kemari, we have steadily grown into a celebrated brand with a global reach.
                  Today our team is made up of over 50 individuals, proudly operating out of a custom-built workshop in
                  Korangi Industrial Area.
                </p>
                <p>
                  We take pride in fostering a community where our employees feel confident and actively participate in
                  decision-making. We credit our growth to our investment in people and delight in each other's personal
                  accomplishments — the mithai tastes all the sweeter when a team member brings in good news!
                </p>
              </div>
            </div>
          </div>
          <div class="about-us-highlight">
            <div class="about-us-highlight-media">
              <img
                class="about-us-highlight-media-img"
                src="{{ 'u-about-us-highlights-2.jpg' | asset_url }}"
                alt="About us Highlight 2"
                width=""
                height=""
              >
            </div>
            <div class="about-us-highlight-info">
              <div class="about-us-highlight-info-head">
                <h4 class="about-us-highlight-title">Zahra Ebrahim</h4>
                <h6 class="about-us-highlight-subtitle">Founder and Principal</h6>
              </div>
              <div class="about-us-highlight-text">
                <p>
                  Our work can be experienced in some of the country's most prominent spaces — from Islamabad Airport to
                  the Presidential House. Each project is a testament to our attention to detail and our passion for
                  design excellence.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section--pb-0 section--w-bg animate-on-scroll">
  <div class="container">
    <div class="section-content">
      <div class="section-head animatable-part">
        <h2 class="section-title">Proudly Made in Pakistan</h2>
        <p class="section-description">
          It's about the people who bring them to life. Many of our artisans and craftsmen have been with us for
          decades, dedicating their lives to perfecting the art of furniture-making. Their skill, patience, and
          commitment are at the heart of everything we create.
        </p>
      </div>
    </div>
  </div>
  <div class="section-bg">
    <picture class="section-bg-media">
      <source
        srcset="{{ 'u/section-bg/4-desktop.jpg' | asset_url }}"
        media="(min-width: 992px)"
      >
      <img
        src="{{ 'u/section-bg/4-mobile.jpg' | asset_url }}"
        alt="Section background media"
        class="section-bg-img"
        width=""
        height=""
      >
    </picture>
    <video
      src="{{ 'u/section-bg/video.mp4' | asset_url }}"
      class="section-bg-video"
      autoplay
      muted
      loop
      playsinline
    ></video>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="section-content">
      <div class="section-body">
        <div class="team">
          <div class="team-card">
            <div class="team-card-media">
              <img
                class="team-card-img"
                src="{{ 'u/team/1.jpg' | asset_url }}"
                alt="Munir"
                width=""
                height=""
              >
            </div>
            <div class="team-card-info">
              <h3 class="team-card-title">Munir</h3>
              <h6 class="team-card-subtitle">Supervisor</h6>
              <div class="team-card-text">
                <p>
                  If you've stopped by our workshop, you've probably met Munir! He joined our polish team in 2008 and is
                  now a supervisor. Munir admits that he finds polish-work easy, but managing people is
                  <strong>"the real hard work"!</strong>
                </p>
              </div>
            </div>
          </div>

          <div class="team-card">
            <div class="team-card-media">
              <img
                class="team-card-img"
                src="{{ 'u/team/2.jpg' | asset_url }}"
                alt="Munir"
                width=""
                height=""
              >
            </div>
            <div class="team-card-info">
              <h3 class="team-card-title">Munir</h3>
              <h6 class="team-card-subtitle">Supervisor</h6>
              <div class="team-card-text">
                <p>
                  If you've stopped by our workshop, you've probably met Munir! He joined our polish team in 2008 and is
                  now a supervisor. Munir admits that he finds polish-work easy, but managing people is
                  <strong>"the real hard work"!</strong>
                </p>
              </div>
            </div>
          </div>

          <div class="team-card">
            <div class="team-card-media">
              <img
                class="team-card-img"
                src="{{ 'u/team/3.jpg' | asset_url }}"
                alt="Munir"
                width=""
                height=""
              >
            </div>
            <div class="team-card-info">
              <h3 class="team-card-title">Munir</h3>
              <h6 class="team-card-subtitle">Supervisor</h6>
              <div class="team-card-text">
                <p>
                  If you've stopped by our workshop, you've probably met Munir! He joined our polish team in 2008 and is
                  now a supervisor. Munir admits that he finds polish-work easy, but managing people is
                  <strong>"the real hard work"!</strong>
                </p>
              </div>
            </div>
          </div>

          <div class="team-card">
            <div class="team-card-media">
              <img
                class="team-card-img"
                src="{{ 'u/team/4.jpg' | asset_url }}"
                alt="Munir"
                width=""
                height=""
              >
            </div>
            <div class="team-card-info">
              <h3 class="team-card-title">Munir</h3>
              <h6 class="team-card-subtitle">Supervisor</h6>
              <div class="team-card-text">
                <p>
                  If you've stopped by our workshop, you've probably met Munir! He joined our polish team in 2008 and is
                  now a supervisor. Munir admits that he finds polish-work easy, but managing people is
                  <strong>"the real hard work"!</strong>
                </p>
              </div>
            </div>
          </div>

          <div class="team-card">
            <div class="team-card-media">
              <img
                class="team-card-img"
                src="{{ 'u/team/5.jpg' | asset_url }}"
                alt="Munir"
                width=""
                height=""
              >
            </div>
            <div class="team-card-info">
              <h3 class="team-card-title">Munir</h3>
              <h6 class="team-card-subtitle">Supervisor</h6>
              <div class="team-card-text">
                <p>
                  If you've stopped by our workshop, you've probably met Munir! He joined our polish team in 2008 and is
                  now a supervisor. Munir admits that he finds polish-work easy, but managing people is
                  <strong>"the real hard work"!</strong>
                </p>
              </div>
            </div>
          </div>

          <div class="team-card">
            <div class="team-card-media">
              <img
                class="team-card-img"
                src="{{ 'u/team/6.jpg' | asset_url }}"
                alt="Munir"
                width=""
                height=""
              >
            </div>
            <div class="team-card-info">
              <h3 class="team-card-title">Munir</h3>
              <h6 class="team-card-subtitle">Supervisor</h6>
              <div class="team-card-text">
                <p>
                  If you've stopped by our workshop, you've probably met Munir! He joined our polish team in 2008 and is
                  now a supervisor. Munir admits that he finds polish-work easy, but managing people is
                  <strong>"the real hard work"!</strong>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
