<footer class="footer">
  <div class="footer-social animate-on-scroll">
    <div class="footer-social-bg animatable-part">
      <img
        src="{{ 'footer-social-1.jpg' | asset_url }}"
        alt=""
        class="footer-social-bg-img footer-social-bg-img--1"
        width=""
        height=""
      >
      <img
        src="{{ 'footer-social-2.jpg' | asset_url }}"
        alt=""
        class="footer-social-bg-img footer-social-bg-img--2"
        width=""
        height=""
      >
      <img
        src="{{ 'footer-social-3.jpg' | asset_url }}"
        alt=""
        class="footer-social-bg-img footer-social-bg-img--3"
        width=""
        height=""
      >
      <img
        src="{{ 'footer-social-4.jpg' | asset_url }}"
        alt=""
        class="footer-social-bg-img footer-social-bg-img--4"
        width=""
        height=""
      >
      <img
        src="{{ 'footer-social-5.jpg' | asset_url }}"
        alt=""
        class="footer-social-bg-img footer-social-bg-img--5"
        width=""
        height=""
      >
    </div>
    <div class="footer-social-content">
      <h2 class="footer-social-title">Follow us on Instagram</h2>
      <p class="footer-social-description">
        Explore behind-the-scenes moments, design inspiration, and the everyday artistry that shapes our furniture. Join
        our community and see how Zahra Ebrahim pieces live in real homes.
      </p>
      <a
        href=""
        class="button button--deep-clay button--hoverable button--large"
      >
        <svg class="button-icon button-icon--instagram">
          <use href="{{ 'icons.svg' | asset_url }}#symbol-instagram"></use>
        </svg>
        <span class="button-text">Follow @zahraebrahim.pk</span>
      </a>
    </div>
  </div>
  {% if template == 'index' %}
    <div class="footer-faq">
      <div class="container">
        <div class="footer-faq-content">
          <div class="footer-faq-info">
            <h3 class="section-title">Because Your Peace of Mind Matters!</h3>
            <div class="footer-faq-text">
              <p>
                We recognise that investing in furniture is a meaningful decision. Here are some answers to our most
                frequently asked questions.
              </p>
              <p>If you do not find what you are looking for, please contact us: <a href="">Whatsapp</a></p>
            </div>
          </div>
          <div class="footer-faq-list">
            <div class="faq-accordion">
              <div class="faq-accordion-item">
                <a
                  href=""
                  class="faq-accordion-trigger js-faq-accordion-trigger"
                >
                  <span class="faq-accordion-trigger-text">Which City Is Zahra Ebrahim Based In?</span>
                  <svg class="faq-accordion-trigger-icon">
                    <use href="{{ 'icons.svg' | asset_url }}#symbol-caret"></use>
                  </svg>
                </a>
                <div class="faq-accordion-results js-faq-accordion-results">
                  <div class="faq-accordion-result-content">
                    <p>
                      You Can Visit Our Showroom Within Our Factory. We Are Open Monday To Saturday Between 10 Am And 4
                      Pm. For Directions And Location Please Call On Our Workshop Numbers: 03209000151, 03209000152
                    </p>
                  </div>
                </div>
              </div>
              <div class="faq-accordion-item">
                <a
                  href=""
                  class="faq-accordion-trigger js-faq-accordion-trigger"
                >
                  <span class="faq-accordion-trigger-text">How Can We Physically See Your Furniture?</span>
                  <svg class="faq-accordion-trigger-icon">
                    <use href="{{ 'icons.svg' | asset_url }}#symbol-caret"></use>
                  </svg>
                </a>
                <div class="faq-accordion-results js-faq-accordion-results">
                  <div class="faq-accordion-result-content">
                    <p>
                      You Can Visit Our Showroom Within Our Factory. We Are Open Monday To Saturday Between 10 Am And 4
                      Pm. For Directions And Location Please Call On Our Workshop Numbers: 03209000151, 03209000152
                    </p>
                  </div>
                </div>
              </div>
              <div class="faq-accordion-item">
                <a
                  href=""
                  class="faq-accordion-trigger js-faq-accordion-trigger"
                >
                  <span class="faq-accordion-trigger-text">What Is Your Contact Number?</span>
                  <svg class="faq-accordion-trigger-icon">
                    <use href="{{ 'icons.svg' | asset_url }}#symbol-caret"></use>
                  </svg>
                </a>
                <div class="faq-accordion-results js-faq-accordion-results">
                  <div class="faq-accordion-result-content">
                    <p>
                      You Can Visit Our Showroom Within Our Factory. We Are Open Monday To Saturday Between 10 Am And 4
                      Pm. For Directions And Location Please Call On Our Workshop Numbers: 03209000151, 03209000152
                    </p>
                  </div>
                </div>
              </div>
              <div class="faq-accordion-item">
                <a
                  href=""
                  class="faq-accordion-trigger js-faq-accordion-trigger"
                >
                  <span class="faq-accordion-trigger-text">Do You Ship Internationally?</span>
                  <svg class="faq-accordion-trigger-icon">
                    <use href="{{ 'icons.svg' | asset_url }}#symbol-caret"></use>
                  </svg>
                </a>
                <div class="faq-accordion-results js-faq-accordion-results">
                  <div class="faq-accordion-result-content">
                    <p>
                      You Can Visit Our Showroom Within Our Factory. We Are Open Monday To Saturday Between 10 Am And 4
                      Pm. For Directions And Location Please Call On Our Workshop Numbers: 03209000151, 03209000152
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="footer-info">
    <div class="container">
      <div class="footer-info-content">
        <div class="footer-static-info">
          <div class="logo">
            <a href="{{ routes.root_url }}" class="logo-link">
              {% render 'zahra-ebrahim-logo' %}
            </a>
          </div>
          <p class="footer-static-text">
            All designs are original and handcrafted in Pakistan. We promise quality, honesty, and reliability.
          </p>
          <div class="socials">
            <a href="" class="socials-item">
              <svg class="socials-icon socials-icon--facebook">
                <use href="{{ 'icons.svg' | asset_url }}#symbol-facebook"></use>
              </svg>
            </a>
            <a href="" class="socials-item">
              <svg class="socials-icon socials-icon--instagram">
                <use href="{{ 'icons.svg' | asset_url }}#symbol-instagram"></use>
              </svg>
            </a>
            <a href="" class="socials-item">
              <svg class="socials-icon socials-icon--whatsapp">
                <use href="{{ 'icons.svg' | asset_url }}#symbol-whatsapp"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="footer-navigation">
          <div class="footer-navigation-column">
            <h4 class="footer-navigation-column-title">Quick Links</h4>
            <div class="footer-navigation-list">
              {%- for link in linklists['quick-links'].links -%}
                <a href="{{ link.url }}" class="footer-navigation-link">
                  <span class="footer-navigation-link-text">{{ link.title }}</span>
                </a>
              {%- endfor -%}
            </div>
          </div>
          <div class="footer-navigation-column">
            <h4 class="footer-navigation-column-title">Help</h4>
            <div class="footer-navigation-list">
              {%- for link in linklists['help'].links -%}
                <a href="{{ link.url }}" class="footer-navigation-link">
                  <span class="footer-navigation-link-text">{{ link.title }}</span>
                </a>
              {%- endfor -%}
            </div>
          </div>
          <div class="footer-navigation-column">
            <h4 class="footer-navigation-column-title">Customer Service</h4>
            <div class="footer-navigation-list">
              {%- for link in linklists['customer-service'].links -%}
                <a href="{{ link.url }}" class="footer-navigation-link">
                  <span class="footer-navigation-link-text">{{ link.title }}</span>
                </a>
              {%- endfor -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="footer-copyright-content">
        <span class="footer-copyright-text">All Rights Reserved | Zahra Ebrahim © 2025</span>
        <div class="footer-payments">
          <img
            src="{{ 'footer-payments.png' | asset_url }}"
            class="footer-payments-media"
            alt=""
            width=""
            height=""
          >
        </div>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Custom Footer",
  "settings": []
}
{% endschema %}
