<section class="section section--pb-0">
  <div class="container">
    <div class="section-content">
      <div class="section-head">
        <div class="page-head">
          <div class="breadcrumbs">
            <div class="breadcrumbs-content">
              <a href="{{ routes.root_url }}" class="breadcrumbs-item">
                <span class="breadcrumbs-item-text">Home</span>
              </a>
              <a href="{{ request.path }}" class="breadcrumbs-item breadcrumbs-item--active">
                <span class="breadcrumbs-item-text">Spotlight</span>
              </a>
            </div>
          </div>
          <div class="page-head-info">
            <h2 class="page-title">Spotlight</h2>
            <div class="page-head-text">
              <p>Discover our iconic furniture and interior solutions designed for landmark spaces across Pakistan.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="section-body">
        <div class="spotlight-hero">
          <div class="spotlight-hero-media spotlight-hero-media--video">
            <img
              class="spotlight-hero-media-img"
              src="{{ 'spotlight-hero.jpg' | asset_url }}"
              alt="Spotlight"
              width=""
              height=""
            >
            <a href="" class="spotlight-hero-media-action">
              <svg class="spotlight-hero-media-action-icon">
                <use href="{{ 'icons.svg' | asset_url }}#symbol-play"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% render 'moving-line', moving_line_class: 'section--pbe-0' %}

<section class="section section--half-bleed" id="spotlights">
  <div class="section-content">
    <div class="section-head section-head--fw">
      <h2 class="section-title">Our Project Showcase</h2>
      <div class="section-actions">
        <div class="slider-controls slider-controls--visible-desktop">
          <a href="" class="slider-control slider-control--prev">
            <svg class="slider-control-icon">
              <use href="{{ 'icons.svg' | asset_url }}#symbol-arrow"></use>
            </svg>
          </a>
          <a href="" class="slider-control slider-control--next">
            <svg class="slider-control-icon">
              <use href="{{ 'icons.svg' | asset_url }}#symbol-arrow"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="section-body">
      <div class="spotlights-slider">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="" class="spotlight-card">
                <div class="spotlight-card-media">
                  <img
                    class="spotlight-card-img"
                    src="{{ 'spotlight-1.jpg' | asset_url }}"
                    alt="INGRAINED: Wood in a Cross-Section of Time, Koel Gallery"
                    width=""
                    height=""
                  >
                </div>
                <div class="spotlight-card-info">
                  <h3 class="spotlight-card-title">INGRAINED: Wood in a Cross-Section of Time, Koel Gallery</h3>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="" class="spotlight-card">
                <div class="spotlight-card-media">
                  <img
                    class="spotlight-card-img"
                    src="{{ 'spotlight-2.jpg' | asset_url }}"
                    alt="Shatranj Kay Khiladi: Chessboard Table, Jhuley Lal—Crafting the Contemporary at The Mohatta Palace Museum, Karachi"
                    width=""
                    height=""
                  >
                </div>
                <div class="spotlight-card-info">
                  <h3 class="spotlight-card-title">
                    Shatranj Kay Khiladi: Chessboard Table, Jhuley Lal—Crafting the Contemporary at The Mohatta Palace
                    Museum, Karachi
                  </h3>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="" class="spotlight-card">
                <div class="spotlight-card-media">
                  <img
                    class="spotlight-card-img"
                    src="{{ 'spotlight-3.jpg' | asset_url }}"
                    alt="Rotunda—Aiwan e Sadar (Presidential Palace), Islamabad"
                    width=""
                    height=""
                  >
                </div>
                <div class="spotlight-card-info">
                  <h3 class="spotlight-card-title">Rotunda—Aiwan e Sadar (Presidential Palace), Islamabad</h3>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="" class="spotlight-card">
                <div class="spotlight-card-media">
                  <img
                    class="spotlight-card-img"
                    src="{{ 'spotlight-4.jpg' | asset_url }}"
                    alt="Pakistan Pavillion, Dubai Expo 2020"
                    width=""
                    height=""
                  >
                </div>
                <div class="spotlight-card-info">
                  <h3 class="spotlight-card-title">Pakistan Pavillion, Dubai Expo 2020</h3>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="" class="spotlight-card">
                <div class="spotlight-card-media">
                  <img
                    class="spotlight-card-img"
                    src="{{ 'spotlight-1.jpg' | asset_url }}"
                    alt="State Lounge and CIP Lounge, Islamabad International Airport"
                    width=""
                    height=""
                  >
                </div>
                <div class="spotlight-card-info">
                  <h3 class="spotlight-card-title">State Lounge and CIP Lounge, Islamabad International Airport</h3>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="" class="spotlight-card">
                <div class="spotlight-card-media">
                  <img
                    class="spotlight-card-img"
                    src="{{ 'spotlight-2.jpg' | asset_url }}"
                    alt="Shatranj Kay Khiladi: Chessboard Table, Jhuley Lal—Crafting the Contemporary at The Mohatta Palace Museum, Karachi"
                    width=""
                    height=""
                  >
                </div>
                <div class="spotlight-card-info">
                  <h3 class="spotlight-card-title">
                    Shatranj Kay Khiladi: Chessboard Table, Jhuley Lal—Crafting the Contemporary at The Mohatta Palace
                    Museum, Karachi
                  </h3>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="" class="spotlight-card">
                <div class="spotlight-card-media">
                  <img
                    class="spotlight-card-img"
                    src="{{ 'spotlight-3.jpg' | asset_url }}"
                    alt="Rotunda—Aiwan e Sadar (Presidential Palace), Islamabad"
                    width=""
                    height=""
                  >
                </div>
                <div class="spotlight-card-info">
                  <h3 class="spotlight-card-title">Rotunda—Aiwan e Sadar (Presidential Palace), Islamabad</h3>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-controls slider-controls--visible-mobile">
        <div class="slider-control slider-control--prev">
          <svg class="slider-control-icon">
            <use href="{{ 'icons.svg' | asset_url }}#symbol-arrow"></use>
          </svg>
        </div>
        <div class="slider-control slider-control--next">
          <svg class="slider-control-icon">
            <use href="{{ 'icons.svg' | asset_url }}#symbol-arrow"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section--pb-0 section--w-bg animate-on-scroll">
  <div class="container">
    <div class="section-content">
      <div class="section-head animatable-part">
        <h2 class="section-title">Round Sofa with 9 Cushions</h2>
        <div class="section-actions">
          <div class="section-action">
            <a href="" class="button button--primary button--primary-on-bg button--default button--hoverable">
              <span class="button-text">buy now</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-bg">
    <picture class="section-bg-media">
      <source srcset="{{ 'section-bg-3-desktop.jpg' | asset_url }}" media="(min-width: 992px)">
      <img
        src="{{ 'section-bg-3-mobile.jpg' | asset_url }}"
        alt="Section background media"
        class="section-bg-img"
        width=""
        height=""
      >
    </picture>
  </div>
</section>

<section class="section section--inverted animate-on-scroll">
  <div class="container">
    <div class="section-content animatable-part section-content--horizontal">
      <div class="section-head">
        <h2 class="section-title">Designing for Iconic Spaces</h2>
        <p class="section-description">
          Our work extends beyond homes and offices. From airports to cultural landmarks, each project in the Spotlight
          series tells a story of design tailored to its environment.
          <br>
          With a blend of craftsmanship and functionality, we've created furniture that not only complements the space
          but also becomes part of its legacy.
        </p>
      </div>
      <div class="section-body">
        <div class="two-column-images">
          <img
            class="two-column-images-img"
            src="{{ 'two-column-5.jpg' | asset_url }}"
            alt=""
            width=""
            height=""
          >
          <img
            class="two-column-images-img"
            src="{{ 'two-column-6.jpg' | asset_url }}"
            alt=""
            width=""
            height=""
          >
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    if (typeof Swiper !== 'undefined') {
      new Swiper('#spotlights .swiper', {
        slidesPerView: 'auto',
        spaceBetween: 16,
        navigation: {
          nextEl: '#spotlights .slider-control--next',
          prevEl: '#spotlights .slider-control--prev',
        },
      });
    } else {
      console.error('Swiper library is not loaded');
    }
  });
</script>
