<section
  class="section section--half-bleed section--pbe-0"
  id="product-categories"
>
  <div class="section-content section-content--horizontal">
    <div class="section-head section-head--vertical">
      <h2 class="section-title">From Gatherings to Quiet Moments, Explore Possibilities for Everyday Luxury</h2>
      <div class="section-actions">
        <div class="section-action">
          <a
            href=""
            class="button button--primary button--default button--hoverable"
          >
            <span class="button-text">Shop All</span>
          </a>
        </div>
        <div class="slider-controls slider-controls--visible-desktop">
          <a href="" class="slider-control slider-control--prev">
            <svg class="slider-control-icon">
              <use href="{{ 'icons.svg' | asset_url }}#symbol-arrow"></use>
            </svg>
          </a>
          <a href="" class="slider-control slider-control--next">
            <svg class="slider-control-icon">
              <use href="{{ 'icons.svg' | asset_url }}#symbol-arrow"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="section-body">
      <div class="product-categories-slider">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="" class="product-category-card">
                <div class="product-category-card-media">
                  <img
                    class="product-category-card-img"
                    src="{{ 'product-category-1.jpg' | asset_url }}"
                    alt="Serve-ware"
                    width=""
                    height=""
                  >
                </div>
                <div class="product-category-card-info">
                  <h3 class="product-category-card-title">Serve-ware</h3>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="" class="product-category-card">
                <div class="product-category-card-media">
                  <img
                    class="product-category-card-img"
                    src="{{ 'product-category-2.jpg' | asset_url }}"
                    alt="Seating"
                    width=""
                    height=""
                  >
                </div>
                <div class="product-category-card-info">
                  <h3 class="product-category-card-title">Seating</h3>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="" class="product-category-card">
                <div class="product-category-card-media">
                  <img
                    class="product-category-card-img"
                    src="{{ 'product-category-3.jpg' | asset_url }}"
                    alt="Tables"
                    width=""
                    height=""
                  >
                </div>
                <div class="product-category-card-info">
                  <h3 class="product-category-card-title">Tables</h3>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="" class="product-category-card">
                <div class="product-category-card-media">
                  <img
                    class="product-category-card-img"
                    src="{{ 'product-category-4.jpg' | asset_url }}"
                    alt="Accents and decor"
                    width=""
                    height=""
                  >
                </div>
                <div class="product-category-card-info">
                  <h3 class="product-category-card-title">Accents and decor</h3>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="" class="product-category-card">
                <div class="product-category-card-media">
                  <img
                    class="product-category-card-img"
                    src="{{ 'product-category-5.jpg' | asset_url }}"
                    alt="Storage"
                    width=""
                    height=""
                  >
                </div>
                <div class="product-category-card-info">
                  <h3 class="product-category-card-title">Storage</h3>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="" class="product-category-card">
                <div class="product-category-card-media">
                  <img
                    class="product-category-card-img"
                    src="{{ 'product-category-6.jpg' | asset_url }}"
                    alt="Beds and bedroom"
                    width=""
                    height=""
                  >
                </div>
                <div class="product-category-card-info">
                  <h3 class="product-category-card-title">Beds and bedroom</h3>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="" class="product-category-card">
                <div class="product-category-card-media">
                  <img
                    class="product-category-card-img"
                    src="{{ 'product-category-7.jpg' | asset_url }}"
                    alt="Outdoor"
                    width=""
                    height=""
                  >
                </div>
                <div class="product-category-card-info">
                  <h3 class="product-category-card-title">Outdoor</h3>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="" class="product-category-card">
                <div class="product-category-card-media">
                  <img
                    class="product-category-card-img"
                    src="{{ 'product-category-8.jpg' | asset_url }}"
                    alt="Office and study"
                    width=""
                    height=""
                  >
                </div>
                <div class="product-category-card-info">
                  <h3 class="product-category-card-title">Office and study</h3>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="" class="product-category-card">
                <div class="product-category-card-media">
                  <img
                    class="product-category-card-img"
                    src="{{ 'product-category-9.jpg' | asset_url }}"
                    alt="Swings"
                    width=""
                    height=""
                  >
                </div>
                <div class="product-category-card-info">
                  <h3 class="product-category-card-title">Swings</h3>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="" class="product-category-card">
                <div class="product-category-card-media">
                  <img
                    class="product-category-card-img"
                    src="{{ 'product-category-10.jpg' | asset_url }}"
                    alt="Media"
                    width=""
                    height=""
                  >
                </div>
                <div class="product-category-card-info">
                  <h3 class="product-category-card-title">Media</h3>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-controls slider-controls--visible-mobile">
        <div class="slider-control slider-control--prev">
          <svg class="slider-control-icon">
            <use href="{{ 'icons.svg' | asset_url }}#symbol-arrow"></use>
          </svg>
        </div>
        <div class="slider-control slider-control--next">
          <svg class="slider-control-icon">
            <use href="{{ 'icons.svg' | asset_url }}#symbol-arrow"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  new Swiper('#product-categories .swiper', {
    slidesPerView: 'auto',
    spaceBetween: 16,
    navigation: {
      nextEl: '#product-categories .slider-control--next',
      prevEl: '#product-categories .slider-control--prev',
    },
  });
</script>
