<header class="header">
  <div class="header-content">
    <div class="burger">
      <a href="" class="burger-trigger">
        <span class="burger-line"></span>
        <span class="burger-line"></span>
        <span class="burger-line"></span>
      </a>
    </div>
    <div class="logo">
      <a href="{{ routes.root_url }}" class="logo-link">
        {% render 'zahra-ebrahim-logo' %}
      </a>
    </div>
    <div class="main-nav">
      <div class="main-nav-content">
        <div class="main-nav-head">
          <div class="logo">
            <a href="{{ routes.root_url }}" class="logo-link">
              {% render 'zahra-ebrahim-logo' %}
            </a>
          </div>
          <a href="" class="main-nav-close">
            <svg class="main-nav-close-icon">
              <use href="{{ 'icons.svg' | asset_url }}#symbol-times"></use>
            </svg>
          </a>
        </div>
        <div class="main-nav-body">
          <div class="main-nav-list">
            {%- for link in linklists['top-main'].links -%}
              <div class="main-nav-item{% if link.links.size > 0 %} has-dropdown{% endif %}">
                <a href="{{ link.url }}" class="main-nav-link">
                  <span class="main-nav-link-text">{{ link.title }}</span>
                  {%- if link.links.size > 0 -%}
                    <svg class="main-nav-link-icon">
                      <use href="{{ 'icons.svg' | asset_url }}#symbol-caret"></use>
                    </svg>
                  {%- endif -%}
                </a>
                {%- if link.links.size > 0 -%}
                  <div class="mega-menu">
                    <div class="container">
                      <div class="mega-menu-content">
                        <div class="mega-menu-head">
                          <a href="" class="mega-menu-back">
                            <svg class="mega-menu-back-icon">
                              <use href="{{ 'icons.svg' | asset_url }}#symbol-caret"></use>
                            </svg>
                            <span class="mega-menu-back-text">Back</span>
                          </a>
                          <a href="" class="mega-menu-close">
                            <svg class="mega-menu-close-icon">
                              <use href="{{ 'icons.svg' | asset_url }}#symbol-times"></use>
                            </svg>
                          </a>
                        </div>
                        <div class="mega-menu-media">
                          <div class="mega-menu-media-item">
                            <img
                              class="mega-menu-media-img"
                              src="{{ 'mega-menu-1.jpg' | asset_url }}"
                              alt=""
                              width=""
                              height=""
                            >
                          </div>
                          <div class="mega-menu-media-item">
                            <img
                              class="mega-menu-media-img"
                              src="{{ 'mega-menu-2.jpg' | asset_url }}"
                              alt=""
                              width=""
                              height=""
                            >
                          </div>
                        </div>
                        <div class="mega-menu-list">
                          {%- for childlink in link.links -%}
                            <div class="mega-menu-column">
                              <h3 class="mega-menu-column-title">{{ childlink.title }}</h3>
                              {%- if childlink.links.size > 0 -%}
                                <div class="mega-menu-column-content">
                                  <a href="{{ childlink.url }}" class="mega-menu-column-link">All</a>
                                  {%- for grandchildlink in childlink.links -%}
                                    <a href="{{ grandchildlink.url }}" class="mega-menu-column-link">
                                      {{- grandchildlink.title -}}
                                    </a>
                                  {%- endfor -%}
                                </div>
                              {%- endif -%}
                            </div>
                          {%- endfor -%}
                        </div>
                      </div>
                    </div>
                  </div>
                {%- endif -%}
              </div>
            {%- endfor -%}
          </div>
        </div>
        <div class="main-nav-foot">
          <div class="socials">
            <a href="" class="socials-item">
              <svg class="socials-icon socials-icon--facebook">
                <use href="{{ 'icons.svg' | asset_url }}#symbol-facebook"></use>
              </svg>
            </a>
            <a href="" class="socials-item">
              <svg class="socials-icon socials-icon--instagram">
                <use href="{{ 'icons.svg' | asset_url }}#symbol-instagram"></use>
              </svg>
            </a>
            <a href="" class="socials-item">
              <svg class="socials-icon socials-icon--whatsapp">
                <use href="{{ 'icons.svg' | asset_url }}#symbol-whatsapp"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="header-actions">
      <div class="header-actions-item">
        <a href="" class="header-actions-link js-search-trigger">
          <svg class="header-actions-icon header-actions-icon--magnifier">
            <use href="{{ 'icons.svg' | asset_url }}#symbol-magnifier"></use>
          </svg>
        </a>

        <div class="search-overlay">
          <div class="container">
            <div class="search-content">
              <div class="search-head">
                <div class="search-field-wrap">
                  <a href="" class="search-field-action">
                    <svg class="search-field-action-icon">
                      <use href="{{ 'icons.svg' | asset_url }}#symbol-magnifier"></use>
                    </svg>
                  </a>
                  <input
                    type="text"
                    class="search-field"
                    placeholder="Search"
                  >
                  <a href="" class="search-close">
                    <svg class="search-close-icon">
                      <use href="{{ 'icons.svg' | asset_url }}#symbol-times"></use>
                    </svg>
                  </a>
                </div>
              </div>
              <div class="search-body">
                <div class="search-suggestions">
                  <h3 class="search-suggestions-title">People Also Search for</h3>
                  <div class="search-suggestions-list">
                    <a href="" class="search-suggestions-item">
                      <svg class="search-suggestions-item-icon">
                        <use href="{{ 'icons.svg' | asset_url }}#symbol-magnifier"></use>
                      </svg>
                      <span class="search-suggestions-item-text">Zen Sofa</span>
                    </a>
                    <a href="" class="search-suggestions-item">
                      <svg class="search-suggestions-item-icon">
                        <use href="{{ 'icons.svg' | asset_url }}#symbol-magnifier"></use>
                      </svg>
                      <span class="search-suggestions-item-text">Chesterfield Sofa - Large</span>
                    </a>
                    <a href="" class="search-suggestions-item">
                      <svg class="search-suggestions-item-icon">
                        <use href="{{ 'icons.svg' | asset_url }}#symbol-magnifier"></use>
                      </svg>
                      <span class="search-suggestions-item-text">Yusra Sofa - Art of the Curve</span>
                    </a>
                    <a href="" class="search-suggestions-item">
                      <svg class="search-suggestions-item-icon">
                        <use href="{{ 'icons.svg' | asset_url }}#symbol-magnifier"></use>
                      </svg>
                      <span class="search-suggestions-item-text">Hong Kong 3 Seater Sofa</span>
                    </a>
                    <a href="" class="search-suggestions-item">
                      <svg class="search-suggestions-item-icon">
                        <use href="{{ 'icons.svg' | asset_url }}#symbol-magnifier"></use>
                      </svg>
                      <span class="search-suggestions-item-text">Double Zen Sofa</span>
                    </a>
                    <a href="" class="search-suggestions-item">
                      <svg class="search-suggestions-item-icon">
                        <use href="{{ 'icons.svg' | asset_url }}#symbol-magnifier"></use>
                      </svg>
                      <span class="search-suggestions-item-text">Phillipe Nigro Rattan 3 Seater Sofa</span>
                    </a>
                    <a href="" class="search-suggestions-item">
                      <svg class="search-suggestions-item-icon">
                        <use href="{{ 'icons.svg' | asset_url }}#symbol-magnifier"></use>
                      </svg>
                      <span class="search-suggestions-item-text">Fluted Leather Sofa - 4 Seater</span>
                    </a>
                    <a href="" class="search-suggestions-item">
                      <svg class="search-suggestions-item-icon">
                        <use href="{{ 'icons.svg' | asset_url }}#symbol-magnifier"></use>
                      </svg>
                      <span class="search-suggestions-item-text">SL Double Sofa</span>
                    </a>
                  </div>
                </div>
                <div class="search-recommendations">
                  <a href="" class="product-card">
                    <div class="product-card-media">
                      <img
                        class="product-card-img"
                        src="{{ 'product-1.jpg' | asset_url }}"
                        alt="Aztec - 2 Tiered Trolley (flat pack)"
                        width=""
                        height=""
                      >
                      <div class="product-card-actions">
                        <div class="product-card-action">
                          <svg
                            class="product-card-action-icon product-card-action-icon--heart"
                          >
                            <use href="{{ 'icons.svg' | asset_url }}#symbol-heart"></use>
                          </svg>
                        </div>
                        <div class="product-card-action">
                          <svg
                            class="product-card-action-icon product-card-action-icon--magnifier"
                          >
                            <use
                              href="{{ 'icons.svg' | asset_url }}#symbol-magnifier"
                            ></use>
                          </svg>
                        </div>
                        <div class="product-card-action">
                          <svg
                            class="product-card-action-icon product-card-action-icon--cart"
                          >
                            <use href="{{ 'icons.svg' | asset_url }}#symbol-cart"></use>
                          </svg>
                        </div>
                      </div>
                    </div>
                    <div class="product-card-info">
                      <div
                        class="product-card-rating product-card-rating--4-stars"
                      >
                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>

                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>

                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>

                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>

                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>
                      </div>
                      <h3 class="product-card-title">Aztec - 2 Tiered Trolley (flat pack)</h3>
                    </div>
                  </a>

                  <a href="" class="product-card">
                    <div class="product-card-media">
                      <img
                        class="product-card-img"
                        src="{{ 'product-2.jpg' | asset_url }}"
                        alt="Piyasi Chirya - Chip n Dip"
                        width=""
                        height=""
                      >
                      <div class="product-card-actions">
                        <div class="product-card-action">
                          <svg
                            class="product-card-action-icon product-card-action-icon--heart"
                          >
                            <use href="{{ 'icons.svg' | asset_url }}#symbol-heart"></use>
                          </svg>
                        </div>
                        <div class="product-card-action">
                          <svg
                            class="product-card-action-icon product-card-action-icon--magnifier"
                          >
                            <use
                              href="{{ 'icons.svg' | asset_url }}#symbol-magnifier"
                            ></use>
                          </svg>
                        </div>
                        <div class="product-card-action">
                          <svg
                            class="product-card-action-icon product-card-action-icon--cart"
                          >
                            <use href="{{ 'icons.svg' | asset_url }}#symbol-cart"></use>
                          </svg>
                        </div>
                      </div>
                    </div>
                    <div class="product-card-info">
                      <div
                        class="product-card-rating product-card-rating--3-stars"
                      >
                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>

                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>

                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>

                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>

                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>
                      </div>
                      <h3 class="product-card-title">Piyasi Chirya - Chip n Dip</h3>
                    </div>
                  </a>

                  <a href="" class="product-card">
                    <div class="product-card-media">
                      <img
                        class="product-card-img"
                        src="{{ 'product-3.jpg' | asset_url }}"
                        alt="Zen Garden - Tray"
                        width=""
                        height=""
                      >
                      <div class="product-card-actions">
                        <div class="product-card-action">
                          <svg
                            class="product-card-action-icon product-card-action-icon--heart"
                          >
                            <use href="{{ 'icons.svg' | asset_url }}#symbol-heart"></use>
                          </svg>
                        </div>
                        <div class="product-card-action">
                          <svg
                            class="product-card-action-icon product-card-action-icon--magnifier"
                          >
                            <use
                              href="{{ 'icons.svg' | asset_url }}#symbol-magnifier"
                            ></use>
                          </svg>
                        </div>
                        <div class="product-card-action">
                          <svg
                            class="product-card-action-icon product-card-action-icon--cart"
                          >
                            <use href="{{ 'icons.svg' | asset_url }}#symbol-cart"></use>
                          </svg>
                        </div>
                      </div>
                    </div>
                    <div class="product-card-info">
                      <div
                        class="product-card-rating product-card-rating--4-stars"
                      >
                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>

                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>

                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>

                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>

                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>
                      </div>
                      <h3 class="product-card-title">Zen Garden - Tray</h3>
                    </div>
                  </a>

                  <a href="" class="product-card">
                    <div class="product-card-media">
                      <img
                        class="product-card-img"
                        src="{{ 'product-4.jpg' | asset_url }}"
                        alt="Peetal ka Piyala - Chip n Dip"
                        width=""
                        height=""
                      >
                      <div class="product-card-actions">
                        <div class="product-card-action">
                          <svg
                            class="product-card-action-icon product-card-action-icon--heart"
                          >
                            <use href="{{ 'icons.svg' | asset_url }}#symbol-heart"></use>
                          </svg>
                        </div>
                        <div class="product-card-action">
                          <svg
                            class="product-card-action-icon product-card-action-icon--magnifier"
                          >
                            <use
                              href="{{ 'icons.svg' | asset_url }}#symbol-magnifier"
                            ></use>
                          </svg>
                        </div>
                        <div class="product-card-action">
                          <svg
                            class="product-card-action-icon product-card-action-icon--cart"
                          >
                            <use href="{{ 'icons.svg' | asset_url }}#symbol-cart"></use>
                          </svg>
                        </div>
                      </div>
                    </div>
                    <div class="product-card-info">
                      <div
                        class="product-card-rating product-card-rating--3-stars"
                      >
                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>

                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>

                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>

                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>

                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>
                      </div>
                      <h3 class="product-card-title">Peetal ka Piyala - Chip n Dip</h3>
                    </div>
                  </a>

                  <a href="" class="product-card">
                    <div class="product-card-media">
                      <img
                        class="product-card-img"
                        src="{{ 'product-5.jpg' | asset_url }}"
                        alt="Retro Vibes - tray"
                        width=""
                        height=""
                      >
                      <div class="product-card-actions">
                        <div class="product-card-action">
                          <svg
                            class="product-card-action-icon product-card-action-icon--heart"
                          >
                            <use href="{{ 'icons.svg' | asset_url }}#symbol-heart"></use>
                          </svg>
                        </div>
                        <div class="product-card-action">
                          <svg
                            class="product-card-action-icon product-card-action-icon--magnifier"
                          >
                            <use
                              href="{{ 'icons.svg' | asset_url }}#symbol-magnifier"
                            ></use>
                          </svg>
                        </div>
                        <div class="product-card-action">
                          <svg
                            class="product-card-action-icon product-card-action-icon--cart"
                          >
                            <use href="{{ 'icons.svg' | asset_url }}#symbol-cart"></use>
                          </svg>
                        </div>
                      </div>
                    </div>
                    <div class="product-card-info">
                      <div
                        class="product-card-rating product-card-rating--5-stars"
                      >
                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>

                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>

                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>

                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>

                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>
                      </div>
                      <h3 class="product-card-title">Retro Vibes - tray</h3>
                    </div>
                  </a>

                  <a href="" class="product-card">
                    <div class="product-card-media">
                      <img
                        class="product-card-img"
                        src="{{ 'product-6.jpg' | asset_url }}"
                        alt="Mashrabiya - 2 tiered trolley"
                        width=""
                        height=""
                      >
                      <div class="product-card-actions">
                        <div class="product-card-action">
                          <svg
                            class="product-card-action-icon product-card-action-icon--heart"
                          >
                            <use href="{{ 'icons.svg' | asset_url }}#symbol-heart"></use>
                          </svg>
                        </div>
                        <div class="product-card-action">
                          <svg
                            class="product-card-action-icon product-card-action-icon--magnifier"
                          >
                            <use
                              href="{{ 'icons.svg' | asset_url }}#symbol-magnifier"
                            ></use>
                          </svg>
                        </div>
                        <div class="product-card-action">
                          <svg
                            class="product-card-action-icon product-card-action-icon--cart"
                          >
                            <use href="{{ 'icons.svg' | asset_url }}#symbol-cart"></use>
                          </svg>
                        </div>
                      </div>
                    </div>
                    <div class="product-card-info">
                      <div
                        class="product-card-rating product-card-rating--3-stars"
                      >
                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>

                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>

                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>

                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>

                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>
                      </div>
                      <h3 class="product-card-title">Mashrabiya - 2 tiered trolley</h3>
                    </div>
                  </a>

                  <a href="" class="product-card">
                    <div class="product-card-media">
                      <img
                        class="product-card-img"
                        src="{{ 'product-7.jpg' | asset_url }}"
                        alt="Karre Natural - 2 tiered trolley"
                        width=""
                        height=""
                      >
                      <div class="product-card-actions">
                        <div class="product-card-action">
                          <svg
                            class="product-card-action-icon product-card-action-icon--heart"
                          >
                            <use href="{{ 'icons.svg' | asset_url }}#symbol-heart"></use>
                          </svg>
                        </div>
                        <div class="product-card-action">
                          <svg
                            class="product-card-action-icon product-card-action-icon--magnifier"
                          >
                            <use
                              href="{{ 'icons.svg' | asset_url }}#symbol-magnifier"
                            ></use>
                          </svg>
                        </div>
                        <div class="product-card-action">
                          <svg
                            class="product-card-action-icon product-card-action-icon--cart"
                          >
                            <use href="{{ 'icons.svg' | asset_url }}#symbol-cart"></use>
                          </svg>
                        </div>
                      </div>
                    </div>
                    <div class="product-card-info">
                      <div
                        class="product-card-rating product-card-rating--4-stars"
                      >
                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>

                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>

                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>

                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>

                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>
                      </div>
                      <h3 class="product-card-title">Karre Natural - 2 tiered trolley</h3>
                    </div>
                  </a>

                  <a href="" class="product-card">
                    <div class="product-card-media">
                      <img
                        class="product-card-img"
                        src="{{ 'product-8.jpg' | asset_url }}"
                        alt="Gulmohar (Mussaweri) - Tray"
                        width=""
                        height=""
                      >
                      <div class="product-card-actions">
                        <div class="product-card-action">
                          <svg
                            class="product-card-action-icon product-card-action-icon--heart"
                          >
                            <use href="{{ 'icons.svg' | asset_url }}#symbol-heart"></use>
                          </svg>
                        </div>
                        <div class="product-card-action">
                          <svg
                            class="product-card-action-icon product-card-action-icon--magnifier"
                          >
                            <use
                              href="{{ 'icons.svg' | asset_url }}#symbol-magnifier"
                            ></use>
                          </svg>
                        </div>
                        <div class="product-card-action">
                          <svg
                            class="product-card-action-icon product-card-action-icon--cart"
                          >
                            <use href="{{ 'icons.svg' | asset_url }}#symbol-cart"></use>
                          </svg>
                        </div>
                      </div>
                    </div>
                    <div class="product-card-info">
                      <div
                        class="product-card-rating product-card-rating--5-stars"
                      >
                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>

                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>

                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>

                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>

                        <svg class="product-card-rating-star">
                          <use href="{{ 'icons.svg' | asset_url }}#symbol-star"></use>
                        </svg>
                      </div>
                      <h3 class="product-card-title">Gulmohar (Mussaweri) - Tray</h3>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-actions-item">
        <a href="{{ routes.cart_url }}" class="header-actions-link">
          <svg class="header-actions-icon header-actions-icon--cart">
            <use href="{{ 'icons.svg' | asset_url }}#symbol-cart"></use>
          </svg>
        </a>
      </div>
      <div class="header-actions-item">
        <a href="{{ routes.account_url }}" class="header-actions-link">
          <svg class="header-actions-icon header-actions-icon--user">
            <use href="{{ 'icons.svg' | asset_url }}#symbol-user"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "Custom Header",
  "settings": []
}
{% endschema %}
