<section class="section section--inverted animate-on-scroll">
  <div class="container">
    <div class="section-content animatable-part section-content--horizontal">
      <div class="section-head">
        <h2 class="section-title">{{ section.settings.title }}</h2>
        <p class="section-description">
          {{ section.settings.description }}
        </p>
        {% if section.settings.button_text != blank %}
          <div class="section-actions">
            <div class="section-action">
              <a
                href="{{ section.settings.button_url }}"
                class="button button--primary button--default button--hoverable"
              >
                <span class="button-text">{{ section.settings.button_text }}</span>
              </a>
            </div>
          </div>
        {% endif %}
      </div>
      <div class="section-body">
        <div class="two-column-images">
          {% if section.settings.image_1 != blank %}
            <img
              class="two-column-images-img"
              src="{{ section.settings.image_1 | image_url: width: 800 }}"
              alt="{{ section.settings.image_1.alt | escape }}"
              loading="lazy"
              width=""
              height=""
            >
          {% endif %}
          {% if section.settings.image_2 != blank %}
            <img
              class="two-column-images-img"
              src="{{ section.settings.image_2 | image_url: width: 800 }}"
              alt="{{ section.settings.image_2.alt | escape }}"
              loading="lazy"
              width=""
              height=""
            >
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Giftables",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Giftables - Because the best gifts are made to last."
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Discover a curated selection of small yet timeless creations — perfect for gifting your loved ones or celebrating life's special moments. From handcrafted trays to elegant décor accents, each piece reflects the same craftsmanship and attention to detail that defines Zahra Ebrahim."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Shop Giftables"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Left image"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Right image"
    }
  ],
  "presets": [
    {
      "name": "Giftables",
      "settings": {
        "title": "Giftables - Because the best gifts are made to last.",
        "description": "Discover a curated selection of small yet timeless creations — perfect for gifting your loved ones or celebrating life's special moments. From handcrafted trays to elegant décor accents, each piece reflects the same craftsmanship and attention to detail that defines Zahra Ebrahim.",
        "button_text": "Shop Giftables"
      }
    }
  ]
}
{% endschema %}
