<section class="section" id="spaces">
  <div class="container">
    <div class="section-content section-content--horizontal">
      <div class="section-body">
        <div class="spaces-slider-media">
          <div class="swiper">
            <div class="swiper-wrapper">
              {% for block in section.blocks %}
                <div class="swiper-slide" {{ block.shopify_attributes }}>
                  <div class="space-card">
                    <div class="space-card-media">
                      {% if block.settings.image != blank %}
                        <img
                          class="space-card-img"
                          src="{{ block.settings.image | image_url: width: 1200 }}"
                          alt="{{ block.settings.title | escape }}"
                          loading="lazy"
                          width=""
                          height=""
                        >
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="section-head">
        <h2 class="section-title">{{ section.settings.title }}</h2>
        <div class="spaces-slider">
          <div class="swiper">
            <div class="swiper-wrapper">
              {% for block in section.blocks %}
                <div class="swiper-slide" {{ block.shopify_attributes }}>
                  <div class="space-card">
                    <div class="space-card-info">
                      <h3 class="space-card-title">{{ block.settings.title }}</h3>
                      {% if block.settings.description != blank %}
                        <p class="space-card-description">{{ block.settings.description }}</p>
                      {% endif %}
                      {% if block.settings.button_text != blank %}
                        <a
                          href="{{ block.settings.button_url }}"
                          class="button button--primary button--default button--hoverable"
                        >
                          <span class="button-text">{{ block.settings.button_text }}</span>
                        </a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="section-actions">
          <div class="slider-controls">
            <a href="" class="slider-control slider-control--prev">
              <svg class="slider-control-icon">
                <use href="{{ 'icons.svg' | asset_url }}#symbol-arrow"></use>
              </svg>
            </a>
            <a href="" class="slider-control slider-control--next">
              <svg class="slider-control-icon">
                <use href="{{ 'icons.svg' | asset_url }}#symbol-arrow"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    if (typeof Swiper !== 'undefined') {
      const spacesSlider = new Swiper('#spaces .spaces-slider .swiper', {
        slidesPerView: 1,
        effect: 'fade',
        fadeEffect: {
          crossFade: true,
        },
      });

      new Swiper('#spaces .spaces-slider-media .swiper', {
        slidesPerView: 1,
        navigation: {
          nextEl: '#spaces .slider-control--next',
          prevEl: '#spaces .slider-control--prev',
        },
        thumbs: {
          swiper: spacesSlider,
        },
      });
    } else {
      console.error('Swiper library is not loaded');
    }
  });
</script>

{% schema %}
{
  "name": "Spaces",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Create Spaces That Celebrate How You Live"
    }
  ],
  "blocks": [
    {
      "type": "space",
      "name": "Space",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Space title",
          "default": "Space"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Space image"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Spaces",
      "blocks": [
        {
          "type": "space",
          "settings": {
            "title": "Lounge",
            "button_text": "Shop now"
          }
        },
        {
          "type": "space",
          "settings": {
            "title": "Dining Room",
            "button_text": "Shop now"
          }
        }
      ]
    }
  ]
}
{% endschema %}
